Dataset regarding highest paid IT Jobs in India

-Position: Job profiles people are serving

-Location: Location of professionals (Either working from office or Remote).

-Gender: Gender of Individuals (Male/Female).

-Education: Their Degree details.

-Experience (Years) : Years of experience they are having.

-Salary : Current salary they are getting.

In [1]:
import pandas as pd
df = pd.read_csv("position_salary.csv",encoding = 'latin1')

In [11]:
df.head()

,Position,Location,Gender,Education,Experience (Years),Salary
0,QNXT Configuration QA/Testing SME,Ghaziabad,Female,B.Tech/B.E.,11,2014510
1,Provider Data Management,New Delhi,Female,B.Tech/B.E.,24,1624349
2,Accessibility Engineer QA,Noida,Female,BCA,25,1926223
3,Senior Software Engineer,Jalandhar,Male,NaN,27,2403560
4,Java Developer/Spring Boot,Meerut,Male,B.A,11,1128404

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df = df.dropna()

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
df['Salary']

In [ ]:
df['Salary'] /= 1000

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(12, 8))
sns.histplot(df['Salary'], bins=50).set(title='Salary histogram', xlabel='Salary (lakh)')

- That's unusual. We're seeing an almost uniform distribution ranging from ₹500,000 to ₹2,500,000, 
with some noise added to it. I was expecting it to look more like a combination of multiple normal
distributions. Alright, let's move on.

In [ ]:
plt.figure(figsize=(12, 8))
sns.histplot(df['Experience (Years)'], discrete=True).set(title='Experience histogram',
    xlabel='Experience (Years)', ylabel='People Count')

In [ ]:
sns.countplot(df, x='Gender').set(title='Gender ratio')

In [ ]:
plt.figure(figsize=(12, 8))
sns.histplot(df, x='Salary', hue='Gender').set(title='Salary histogram',
    xlabel='Salary (thousand rupees)')

In [ ]:
df[df['Gender'] == 'Female']['Salary'].describe()

In [ ]:
df[df['Gender'] == 'Male']['Salary'].describe()

- According to out data women in IT in India revieve approximately the same salaries as men. That's great!

In [ ]:
df['Education'].value_counts()

In [ ]:
plt.figure(figsize=(12, 8))
df = df[df.Education.apply(lambda x: df.Education.value_counts()[x] > 100)]
sns.countplot(df, x='Education').set(title='Education type ratio')

In [ ]:
df.Location.value_counts().head(10)

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(df[df.Location.apply(lambda x: df.Location.value_counts()[x] > 100)], x='Location').set(title='Job locations')

In [ ]:
df.head()

In [ ]:
df.to_csv('clean.csv', index=False)